body {
    background-color: hsl(160, 72%, 35%);
    margin: 0;
    justify-content: center;
}
.navbar{
    margin: 0;
}
.navbar-brand{
    font-size: 30px;
    color: #fff;
    text-shadow:2px 6px 30px  #000 ;
    border:none;    
}
.nav-link{
    margin-left: 20px ;
    font-size: 20px;
    transition: .5s all;
}
.nav-link:hover{
background-color: #198754;
border-radius: 10%;
box-shadow:2px 6px 20px 0 #000 ;
}
.container-fluid{
    background-color: rgb(35, 156, 126);
    border: 0;

}
.btn{
    color: #fff;
}
#contenedor{
    margin: 30px;
}

.container{
    background-color: hsl(160, 72%, 35%)9 !important;
    
    margin: center;
}
.btn-primary{
    margin-left: 30px;
    background-color: hsl(160, 72%, 35%);
}
.card{
    background-color: #363636;
    color:hsl(160, 72%, 35%);
    margin-left: 100px;   
}
.card-img-top{
    filter: contrast(.9);
    margin-top: 10px;
}
.div-card{
    margin: 10px;
    
}
.modal-content{
    background-color: #363636;
}
.modal-header{
    background-color: #198754;
}
.modal-footer{
    background-color: #198754;
}
.btn-comprar{
    background-color: #363636;
    border: none;
}
.btn-secondary{
    background-color: #363636;
}
.btn-carrito{
    background-color: #363636;
    border: none;
    color: #198754;
}
.btn-outline-success{
    background-color: #363636;
    color: #198754;
}
.form-control{
    background-color: #363636;
    color: #198754;
}
.button{
    border: none;
    color: #363636;
}
.btn-cerrar{
    align-self: center;

    filter: contrast(0);
}
