body {
    background-color: #101919;
    margin: 0;
    justify-content: center;
}
.navbar{
    margin: 0;
    background-color: #FED9B7;
}
.navbar-brand{
    font-size: 30px;
    color: #363636;
    text-shadow:2px 6px 30px  #000 ;
    border:none;    
}
.nav-link{
    margin-left: 20px ;
    font-size: 20px;
    transition: .5s all;
}
.nav-link:hover{
background-color: #198754;
border-radius: 10%;
box-shadow:2px 6px 20px 0 #000 ;
}
.container-fluid{
    background-color: #717744;
    border: 0;

}
.btn{
    color: #fff;
}
#contenedor{
    margin: 30px;
}

.container{
    background-color: #101919 !important;
    
    margin: center;
}
.btn-primary{
    margin-left: 30px;
    background-color: #101919;
    color: #fff;
}
.card{
    background-color: #494E2D;
    color:#000;
    margin-left: 100px;   
}
.card-img-top{
    filter: contrast(.9);
    margin-top: 10px;
}
.div-card{
    margin: 10px;
    
}
.modal-content{
    background-color: #494E2D;
}
.modal-header{
    background-color: #494E2D;
}
.modal-footer{
    background-color: #494E2D;
}
.btn-comprar{
    background-color: #363636;
    border: none;
}
.btn-secondary{
    background-color: #363636;
    color: #fff !important;
}
.btn-carrito{
    background-color: #363636;
    border: none;
    color: #fff;
}
.btn-outline-success{
    background-color: #363636;
    color: #198754;
}
.form-control{
    background-color: #363636;
    color: #494E2D;
}
.button{
    border: none;
    color: #fff;
}
.btn-cerrar{
    align-self: center;

    filter: contrast(0);
}
#nombre-usuario{
    margin-left: 50px;
    font-size: 30px;
}
#input{
    margin-left: 50px;
    font-size: 30px;
}

#btn-ingresar{
    background-color: #198754;
}
#contenedor-menores{
    font-size: 60px;
    color: #fff;

}
.fa-brands{
    background-color: #000;
}

#precio-total{
    color: #fff;
    font-size: 20px;
    align-self: center;
}
#btn-salir{
    margin-left: 20px;
 
}